<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
				http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<context:annotation-config />
	<context:property-placeholder />

	<bean id="helloService" class="com.warehouse.auth.service.HelloWorldService" />

	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="org.hsqldb.jdbc.JDBCDriver" />
		<property name="url" value="jdbc:hsqldb:hsql://localhost/testdb" />
		<!-- <property name="url" value="jdbc:hsqldb:file:/opt/db/testdb"></property> -->
		<property name="username" value="SA" />
		<property name="password" value="" />
	</bean>


</beans>


<!-- ?xml version=”1.0” encoding=”UTF-8”?>
<beans
xmlns=”http://www.springframework.org/schema/beans”
xmlns:xsi=”http://www.w3.org/2001/XMLSchema-instance”
xmlns:jpa=”http://www.springframework.org/schema/data/jpa”
xsi:schemaLocation=”
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
http://www.springframework.org/schema/data/jpa
http://www.springframework.org/schema/data/jpa/spring-jpa.xsd”>
<jpa:repositories base-package=”org.rest.dao.spring” />
</beans-->